# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
logs/
*.log

# Data files
*.csv
*.parquet
*.json
*.xlsx

# OS files
.DS_Store

# Virtual environments
venv/
.env/
.venv/
